.inputbox {
    padding: 20px 25px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 -5px 5px 3px #ccc;
    border-radius: 0 0 10px 10px;
}

.input {
    flex-grow: 1;

}

input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.btn {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(60, 60, 255);
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(.85);
    background-color: rgb(20, 20, 255);
}

.btn:before {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.btn:after {
    position: absolute;
    content: '';
    display: block;
    height: 20px;
    width: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}


